{% macro render_certifications(certs) %}
{% if certs %}
<section class="main-section certifications-section">
    <h2 class="main-section-title">Certifications</h2>
    {% for cert in certs %}
    <article class="certification-entry">
        <h4>{{ cert.name }}</h4>
        <p>
            {% if cert.issuer and cert.issuer != 'null' %}{{ cert.issuer }}{% else %}N/A{% endif %} |
            {% if cert.date and cert.date != 'null' %}{{ cert.date }}{% else %}N/A{% endif %}
        </p>
    </article>
    {% endfor %}
</section>
{% endif %}
{% endmacro %}